<h1><%= @topic.name %></h1>

<p><%= @topic.description %></p>

<% @posts.each do |x| %>
  <%= link_to x.title, [@topic, x] %>
<% end %>

<%= link_to "Edit Topic", edit_topic_path if can? :edit, @topic %>

<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-large btn-block' if can? :create, @post %>


