<h1><%= @topic.name %></h1>

<small>
  <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
  submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
  <%= post.comments.count %> comments
</small>

<p><%= @topic.description %></p>

<% @posts.each do |x| %>
  <%= link_to markdown x.title, [@topic, x] %>
<% end %>

<%= link_to "Edit Topic", edit_topic_path if can? :edit, @topic %>

<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-large btn-block' if can? :create, @post %>


